@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
    --amarillo: #f9d806;
    --amarillo-claro: #ffee80;
    --negro: #130f40;
    --color-contraste: #666; 
    --border: .1rem solid rgba(0,0,0,.1);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 69.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section {
    padding:2rem 9%;

}

.heading {
    text-align: center;
    padding-bottom: 2rem;
    font-size: 4.5rem;
    color: var(--negro);
}

.heading span {
    position: relative;
    z-index: 0;
}

.heading span::before{
    content: '';
    position: absolute;
    bottom: 1rem; left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--amarillo);
    clip-path: polygon(0 90%, 100% 80%, 100% 100%, 0% 100%);
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: .5rem;
    background-color: var(--amarillo-claro);
    color: var(--negro);
    font-weight: 500;
    font-size: 1.7rem;
    cursor: pointer;
    padding: .8rem 3rem;
}
.btn:hover {
    background: var(--amarillo);
}


.header {
    position: fixed;
    top:0; left:0; right: 0;
    z-index: 998;
    background-color: #fff;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 3rem 9%;
}

.header .logo {
    font-size: 2.5rem;
    color: var(--negro);
    font-weight: bolder;

}

.header .logo span {
    color: var(--amarillo);
}

.header .navbar a{
    font-size: 1.6rem;
    margin: 0.9rem;
    color: var(--negro)
}

.header .navbar a:hover{
    color: var(--amarillo)
}
#menu-btn {
    font-size: 2.5rem;
    color: var(--color-contraste);
    cursor: pointer;
    display: none;
}

body {
    height: 300rem;
}

.header.active{
    box-shadow: var(--box-shadow);
    padding: 2rem 9%;
    
}

.header .btn {
    margin-top: 0;
}
.header #login-btn i{
    font-size: 2.5rem;
    color: var(--color-contraste);
    cursor: pointer;
    display: none;
}

/* estilo para el formulario de ingreso */

.login-form-container {
    position: fixed;
    top:105%; left: 0;
    z-index: 1000;
    height: 100%;
    width: 100%;
    background: rgba(255, 255,  255 , .9);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.login-form-container.active{
    top:0;
    opacity: 1;
}

.login-form-container form{
    padding: 2rem;
    margin: 2rem;
    border-radius: .5rem;
    box-shadow: var(--box-red);
    background: #fff;
    border: var(--border);
    text-align: center;
    width:40rem;
}

.login-form-container form .buttons {
    display: flex;
    align-items: center;
    gap:1rem;
}
.login-form-container form .btn {
    display: block;
    width: 100%;
    margin: .5rem 0;
}
.login-form-container form  h3{
    color: var(--negro);
    font-size: 2.5rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
}

.login-form-container form .box{
    margin: .7rem 0;
    width: 100%;
    text-transform: none;
    color: var(--negro);
    font-size: 1.6rem;
    padding: 1rem 1.2rem;
    border:var(--border);
    border-radius: .5rem;
}

.login-form-container form p{
    padding: 1rem 0;
    font-size: 1.5rem;
    color: var(--color-contraste);
}

.login-form-container form p a{
    color:var(--amarillo);
    text-decoration: underline;
}

.login-form-container #close-login-form {
    position: absolute;
    top: 1.5rem;right: 2rem;
    font-size: 5rem;
    color: var(--negro);
    cursor: pointer;
}

/* termina el estilo del form */

/* comienzo estilo de la home */

.home {
    padding-top: 10rem;
    text-align: center;
    overflow-x: hidden; 
}

.home h1 {
    font-size: 7.5vw;
    text-transform: uppercase;
    color: var(--negro);
}

.home img{
    width: 100%;
    margin: 1rem 0;
}

/* final estilo de la home */

/* estilo de los iconos */

.contenedor-iconos {
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    background: #eee;
}

.contenedor-iconos .iconos {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    background: #fff;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}

.contenedor-iconos .iconos i {
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    border-radius: 50%;
    background: #eee;
    color: var(--negro);
    text-align: center;
}

.contenedor-iconos .iconos .content h3{
    color: var(--amarillo);
    font-size: 2.5rem;
}

.contenedor-iconos .iconos .content p{
    color: var(--color-contraste);
    font-size: 1.5rem;
}

.contenedor-iconos .iconos:hover{
    background-color: var(--negro);
}

.contenedor-iconos .iconos:hover i{
    background: var(--amarillo);
}

.contenedor-iconos .iconos:hover .content h3{
    color: #fff;
}

.contenedor-iconos .iconos:hover .content p{
    color: #eee;
}


/* termina el estilo de los iconos  */

/* comienza el estilo del slider de vehiculos populares */

.vehiculos .vehiculos-slider{
    padding-bottom: 5rem;

}

.vehiculos .vehiculos-slider .box{
    text-align: center;
}

.vehiculos .vehiculos-slider .box img{
    width: 100%;
    opacity: .5;
    transform: scale(.8);
}

.vehiculos .vehiculos-slider .box .content{
    transform: scale(0);
    padding-top: 1rem;
}

.vehiculos .vehiculos-slider .box .content h3 {
    color: var(--negro);
    font-size: 2.5rem;
}

.vehiculos .vehiculos-slider .box .content .precio {
    color: var(--amarillo);
    font-size: 2.5rem;
    padding: 1rem 0;
    font-weight: bolder;
}

.vehiculos .vehiculos-slider .box .content .precio span {
    color: var(--color-contraste);
    font-size: 1..7rem;
    font-weight: normal;
}

.vehiculos .vehiculos-slider .box .content p {
    font-size: 1.6rem;
    padding-top: 1.5rem;
    padding: 1.5rem;
    border-top: var(--border);
    color: var(--color-contraste);
}

.vehiculos .vehiculos-slider .box .content p span {
    color: var(--amarillo);
    font-size: .8rem;
    padding: 0 .5rem;
}

.vehiculos .vehiculos-slider .swiper-slide-active img{
    opacity: 1;
    transform: scale(1);

}

.vehiculos .vehiculos-slider .swiper-slide-active .content{
    transform: scale(1);
}

.swiper-pagination-bullet-active{
    background-color: var(--amarillo);
}

/* termina el estilo del slider de vehiculos populares */

/* comienza el estilo de los servicios */

.servicios .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.servicios .box-container .box {
    text-align: center;
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
}

.servicios .box-container .box i{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    color: var(--negro);
    background: var(--amarillo);
    border-radius: 50%;
    margin-bottom: 1rem;
}

.servicios .box-container .box h3 {
    color: var(--negro);
    font-size: 2.2rem;
}

.servicios .box-container .box p{
    color: var(--color-contraste);
    font-size: 1.6rem;
    padding: 1rem 0;
    line-height: 1.8;
}

.servicios .box-container .box:hover{
    background: var(--negro);
}

.servicios .box-container .box:hover h3{
    color: #fff;
}

.servicios .box-container .box:hover p{
    color: #eee;
}

/* estilo de la seccion autos destacados */

.destacados .destacados-slider{
    padding: 1rem;
    padding-bottom: 4rem;   
}

.destacados .destacados-slider .box{
    text-align: center;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: .5rem;
}

.destacados .destacados-slider .box img{
    width: 100%;
    padding: 2rem;
}

.destacados .destacados-slider .box:hover img{
    transform: scale(.9);

}

.destacados .destacados-slider .box h3{
    font-size: 2.2rem;
    color: var(--negro);
}

.destacados .destacados-slider .box .estrellas{
    padding: 1rem 0;
}

.destacados .destacados-slider .box .estrellas i{
    font-size: 1.7rem;
    color: var(--amarillo);
}

.destacados .destacados-slider .box .estrellas .preciob {
    color: var(--negro);
}

.preciob {
    font-size: 2.5rem;
}
/* termina el estilo de autos destacados */

/* estilo del form al newsletter */

.newsletter{
    padding: 6rem 2rem;
    text-align: center;
    background: url(/image/bgparaelform.png) no-repeat;
    background-position: center;
    background-size: cover;
}

.newsletter h3{
    color: var(--negro);
    font-size: 3rem;
}

.newsletter p{
    color: var(--color-contraste);
    font-size: 1.5rem;
    padding: 1rem 0;
}

.newsletter form{
    margin: 1rem auto;
    max-width: 60rem;
    height: 5rem;
    display: flex;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    border-radius: 5rem;
}

.newsletter form input[type="email"] {
   height: 100%;
   width: 100%;
   font-size: 1.6rem;
   color: var(--negro);
   text-transform: none;
   padding: 0 2rem;
}


/* media queries  */

@media (max-width:991px) {
    html {
        font-size: 55%;
    }
    .header {
        padding: 2rem;
    }

    .header.active{
        padding: 2rem;
    }

    section{
        padding: 2rem;
    }

}
@media (max-width:768px) {
    #menu-btn {
        display: block;
    }
    #menu-btn.fa-times{
        transform: rotate(180deg);
    }
    .header #login-btn i{
        display: block;
    }

    .header #login-btn .btn{
        display: none;
    }

    .header .navbar{
        position: absolute;
        top:99%; left:0; right:0;
        background: #fff;
        border-top: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .header .navbar a{
        display: block;
        margin: 2rem;
        font-size: 2rem;
    }
}
@media (max-width:450px) {
    html {
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }

}

